body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
h1 {
  font-size: 3em;
  color: #017767;
}
.header {
  display: flex;
  align-items: center;
}
.container {
  height: 500px;
  width: 500px;
  border: 2px solid black;
  margin: 20px 0px;
  display: flex;
  flex-wrap: wrap;
}
p {
  font-size: 20px;
  font-weight: bold;
}

.btn {
  padding: 8px 16px;
  margin: 15px;
  border-radius: 17px;
}
.Black {
  background-color: rgb(26, 24, 24);
  color: white;
}
.Rainbow {
  background: #22025d;
  color: #bebebe;
}
.child {
  box-sizing: border-box;
  width: calc(500px / 16); /* 16 columns of squares */
  height: calc(500px / 16); /* 16 rows of squares */
  border: 1px solid gray;
  background-color: white;
}
